<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spudydev.spudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".infraestrutura.gui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registro.gui.RegistroActivity" />
        <activity android:name=".pessoa.gui.ResgatarSenhaEmailActivity" />
        <activity android:name=".registro.gui.ConfirmRegistroActivity" />
        <activity
            android:name=".usuario.aluno.gui.MainAlunoActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".usuario.professor.gui.MainProfessorActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".perfil.gui.MeuPerfilAlunoActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pessoa.gui.AlterarNomeActivity" />
        <activity android:name=".pessoa.gui.AlterarDataNascimentoActivity" />
        <activity android:name=".pessoa.gui.AlterarInstituicaoActivity" />
        <activity android:name=".pessoa.gui.AlterarSenhaActivity" />
        <activity android:name=".pessoa.gui.AlterarEmailActivity" />
        <activity
            android:name=".activity.DisciplinaActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainCriarDisciplinaActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AdicionarMaterialActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainMaterialActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".perfil.gui.MeuPerfilProfessorActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CriarTurmaActivity" />
        <activity android:name=".activity.AdicionarTurmaActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>